extends layout
block content
  .index-hero
    .index-title-container
      h2.sub-title= subTitle
      .demo-button 
        a(href="/demo") 
          button.btn-lg.btn-primary Try Demo
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        each _,i in images
          li.active(data-target='#carouselExampleIndicators' data-slide-to=i)
      .carousel-inner
        each image,i in images
          if i === 0
            .carousel-item.active
              figure
                source(media="(min-width: 576px)" srcset=image.src)
                img.d-block.w-100(src=image.src alt='A race car')
                figcaption
                  cite= image.cite
          else 
           .carousel-item
              figure
                img.d-block.w-100(src=image.src alt='A race car')
                figcaption
                  cite= image.cite
      a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  main.index-main.container
   
