mixin allTeamsCardMixin(data, cardSize)
  //- - console.log('card', cardSize)
  if cardSize === "full"
    .card.team-card(class=cardSize data-slug=data.team_name_slug)
      li 
        a(href=`/demo?demo-team=${data.team_name_slug}`)
          .team-title
            h5 #{data.full_team_name}
          .main-image
            img(src=data.images[Math.round(randomNumInRange(0, data.images.length-1))])
  else if cardSize === "mini"
    .card.team-card(class=cardSize data-slug=data.team_name_slug)
      li
        a(href=`/teams/${data.team_name_slug}`)
          .team-title
            h6 #{data.full_team_name}
          .main-image
            img(src=data.images[Math.round(randomNumInRange(0, data.images.length-1))])
