mixin allDriverMixin(data)
  if data.size === "mini"
    .card.driver-card(class=data.size data-slug=data.name_slug)
        li
          a(href="javascript:void(0);").driver-click
            .driver-title-container 
              h6  #{data.driver_name}
              .flag-img-container
                img(src=data.flag_img_url)
            .main-image-container
              img(src=data.main_image)
  else if data.size === "full"
    .card.driver-card(class=data.size data-slug=data.name_slug)
        li
          .driver-title-container 
            a(href=`/driver?driver=${data.name_slug}`).driver-click
              h4  #{data.driver_name}
            .flag-img-container
              img(src=data.flag_img_url)
          .main-image-container
            img(src=data.main_image)