mixin allDriverMixin(data)
  //- - console.log('D', data)
  .card.driver-card
    .driver-title
      h6  #{data.driver_name}
      .flag-img-container
        img(src=data.flag_img_url)
    .main-image
      img(src=data.main_image)
    .driver-inner-container
      .driver-logo-container
        a(href=data.teamUrl)
          img(src=data.logo_url)