mixin allDriverMixin(data, cardSize)
  if cardSize === "mini"
    .card.driver-card(class=cardSize data-slug=data.name_slug)
      li
        a(href=`/drivers/${data.name_slug}`).driver-click
          .driver-title-container 
            h6  #{data.driver_name}
            figure.flag-img-container
              img(src=data.flag_img_url)
          figure.main-image-container
            .ratio-box
              img(src=data.main_image)
  else if cardSize === "full"
    .card.driver-card(class=cardSize data-slug=data.name_slug)
      li
        .driver-title-container 
          a(href=`/demo?demo-driver=${data.name_slug}`).driver-click
            h4  #{data.driver_name}
          figure.flag-img-container
            img(src=data.flag_img_url)
        figure.main-image-container
          img(src=data.main_image)