mixin allTeamsMixin(data, cardSize)
  //- - console.log('data', data)
  if cardSize === "full"
    .card.team-card(class=cardSize data-slug=data.team_name_slug)
      li
        a(href=`/demo?demo-team=${data.team_name_slug}`)
          .team-title
            h5 #{data.full_team_name}
        .main-image
          img(src=data.main_image)
  else if cardSize === "mini"
    .card.team-card(class=cardSize data-slug=data.team_name_slug)
      li
        a(href=`javascript:void(0);`)
          .team-title
            h6 #{data.full_team_name}
          .main-image
            img(src=data.main_image)
