//- diff- mini card is wrapped in a tag
mixin driverSelectCardMixin(data, cardSize)
  if cardSize === "mini" 
    li.card.driver-card.select-card(class=cardSize data-slug=data.name_slug)
        a(href=`/demo?demo-driver=${data.name_slug}`)
          .driver-title-container 
            h2  #{data.driver_name}
            figure.flag-img-container
              img(src=data.flag_img_url)
          figure.main-image-container
            .ratio-box
              img(src=data.main_image)
    
  else
    li.card.driver-card.select-card(class=cardSize data-slug=data.name_slug)
      .driver-title-container 
        a(href=`/demo?demo-driver=${data.name_slug}`)
          h2  #{data.driver_name}
        figure.flag-img-container
          img(src=data.flag_img_url)
      figure.main-image-container
        img(src=data.main_image)