//-data is passed into from demo
mixin select(data)
  form(method=data.method action=data.action)
    .row.form-group
      .select.col-sm-8.col-md-8.center
        select(name=data.selectName).form-control.form-control-lg
          each d in data.enums 
            option(value=d.name_slug) #{(d.driver_name || d.full_team_name)}
      .btn-container.col-sm-4.col-md-4
        button.btn.btn-primary(type=data.buttonType value=data.buttonValue) #{data.buttonField}
        
            
              
      