mixin select(data)
  - console.log('data',data)
  form(method=data.method action=data.action enctype=data.enctype)
    .drivers
      select(name=data.selectName)
        each driver in data.enums
          - const driverVal = driver.split(' ').join() 
          - const driverName = driver.replace(',', ' ')
          option(value=driverVal) #{driverName}
      button.btn.btn-primary(type=data.buttonType value=data.buttonValue) #{data.buttonField}
        
           
            
      