mixin teamCard(data)
  - console.log('DATA',data)
  .card.team-card
    .team-stats-container
      .column.left-column
        .team-title
          h5 #{capitalize(separator(data.full_team_name, " "))}
        .main-image
          img(src=data.main_image)
      .column.right-column
        .drivers
          .driver
            a(href=data.drivers_scraped[0].page_url)
              span #{data.drivers_scraped[0].driver_name}
              img.flag(src=data.drivers_scraped[0].flag_img_url)
          .driver 
            a(href=data.drivers_scraped[1].page_url)
              span #{data.drivers_scraped[1].driver_name}
              img.flag(src=data.drivers_scraped[1].flag_img_url)
        .stats-columns
          .left-table-container.team-table-container
            table.stats
              tbody
                tr 
                  td
                    span.stat-key Base: 
                    span.stat-val #{capitalize(separator(data.base, " "))}
                tr 
                  td
                    span.stat-key Power Unit: 
                    span.stat-val #{capitalize(separator(data.power_unit, " "))}
                tr 
                  td
                    span.stat-key Team Chief: 
                    span.stat-val #{capitalize(separator(data.team_chief, " "))}
                tr 
                  td
                    span.stat-key Techical Chief: 
                    span.stat-val #{capitalize(separator(data.technical_chief, " "))}
                tr 
                  td
                    span.stat-key Highest Finish: 
                    span.stat-val #{capitalize(separator(data.highest_race_finish, " "))}
          .right-table-container.team-table-container
            table.stats
              tbody
                tr 
                  td
                    span.stat-key Championships: 
                    span.stat-val #{capitalize(separator(data.championship_titles, " "))}
                tr 
                  td
                    span.stat-key Podiums: 
                    span.stat-val #{capitalize(separator(data.podium_finishes, " "))}
                tr 
                  td
                    span.stat-key Pole Positions: 
                    span.stat-val #{capitalize(separator(data.pole_positions, " "))}
                tr 
                  td
                    span.stat-key First Team Entry: 
                    span.stat-val #{capitalize(separator(data.first_team_entry, " "))}
                tr 
                  td
                    span.stat-key First Team Entry: 
                    span.stat-val #{capitalize(separator(data.first_team_entry, " "))}
              
                