mixin teamCardMixinLg(data)
  //- - console.log('DATA',data)
  .card.team-card
    .team-inner-container
      .column.left-column
        .team-title
          h5 #{data.full_team_name}
        .main-image
          img(src=data.main_image)
      .column.right-column
        .drivers
          .driver
            a(href=data.drivers_scraped[0].page_url)
              span #{data.drivers_scraped[0].driver_name}
              img.flag(src=data.drivers_scraped[0].flag_img_url)
          .driver 
            a(href=data.drivers_scraped[1].page_url)
              span #{data.drivers_scraped[1].driver_name}
              img.flag(src=data.drivers_scraped[1].flag_img_url)
        .stats-columns
          .left-table-container.team-table-container
            table.stats
              tbody
                tr 
                  td
                    span.stat-key Base: 
                    span.stat-val #{data.base}
                tr 
                  td
                    span.stat-key Power Unit: 
                    span.stat-val #{data.power_unit}
                tr 
                  td
                    span.stat-key Chassis: 
                    span.stat-val #{data.chassis}
                tr 
                  td
                    span.stat-key Team Chief: 
                    span.stat-val #{data.team_chief}
                tr 
                  td
                    span.stat-key Techical Chief: 
                    span.stat-val #{data.technical_chief}
                tr 
                  td
                    span.stat-key Highest Finish: 
                    span.stat-val #{data.highest_race_finish}
          .right-table-container.team-table-container
            table.stats
              tbody
                tr 
                  td
                    span.stat-key Championships: 
                    span.stat-val #{data.championship_titles}
                tr 
                  td
                    span.stat-key Pole Positions: 
                    span.stat-val #{data.pole_positions}
                tr 
                  td
                    span.stat-key First Team Entry: 
                    span.stat-val #{data.first_team_entry}
              
                