//- params not passed in are still available - ctx is passed from demo and can be accessed here anyway

mixin toggleSwitch(pageType, urls, ENV, toggleState)
  link(rel='stylesheet', href='/stylesheets/toggleSwitch.css')
  script(src='/javascripts/toggle.js')
  - const endPoint = ENV === 'development' ? urls.localCardsEndpoint : urls.prodCardsEndpoint

  if pageType == 'drivers'
    label.switch(data-src=`${endPoint}/drivers`)
      input(type='checkbox' checked=toggleState)
      span.slider.round
  else if pageType == 'teams'
    label.switch(data-src=`${endPoint}/teams`)
        input(type='checkbox' checked=toggleState)
        span.slider.round
  else if pageType == 'driver'
    label.switch(data-src=`${endPoint}/drivers/${ctx.query['demo-driver']}`)
      input(type='checkbox' checked=toggleState)
      span.slider.round
  else if pageType == 'team'
  
    label.switch(data-src=`${endPoint}/teams/${ctx.query['demo-team']}`)
        input(type='checkbox' checked=toggleState)
        span.slider.round
  else
    label.switch
      input(type='checkbox' checked=toggleState)
      span.slider.round
